<h1>Shopping Cart</h1>
<h2> </h2>

 <%= render "shopping" %>

  <%= link_to 'add more items', items_path, class: 'ui button' %>
  <%= link_to 'remove items', item_path, method: :delete, class: 'ui button'%>
  <%= link_to 'checkout', carts_path, class: 'ui button' %>

