<h1>Welcome to the RoboStore </h1>
<p>For everything robot </p>
<div class="ui grid">
    <% @items.each do |item| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
       <div class="ui card">
        <div class="image">
            <img src="https://robohash.org/<%= item.photo %>?set=4" />
          </div>
          <div class='content'>
            <%= link_to item.name, item_path(item) %> $<%= item.price %> 
          </div>
          <div class='ui bottom attached button'>
             <i class="add icon"></i>
            <%= link_to 'View Item', item_path(item) %>
          </div>
         </div>
      </div>
    <% end %>
</div>


