<br />
<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="blue column">
      <h1>Welcome to RoboStore</h1>
    </div>
    <div class="black column">
      <h1>"For everything robot."</h1>
    </div>
  </div>
  <br />
</div>
<div class="ui divider"></div>
<div class="ui grid">
    <% @items.each do |item| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
       <div class="ui card">
        <div class="image">
            <img src="https://robohash.org/<%= item.photo %>?set=4" />
          </div>
          <div class="content">
            <h1 class="header center aligned">
              <%= link_to item.name, item_path(item) %>
            </h1>
          </div>
            <p class="center aligned">$<%= item.price %></p>
          <div class='ui bottom attached button'>
             <i class="add icon"></i>
            <%= link_to 'View Item', item_path(item) %>
          </div>
         </div>
      </div>
    <% end %>
</div>


<div class="ui divider"></div>
<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="black column"> </div>
    <div class="blue column"> </div>
  </div>
<br />
</div>
<div class="ui divider"></div>





