<div class='ui container'>
<div class="ui four column centered grid">
  <div class="row" style="background-color: lightblue;color: black; margin-top: 2%">
     <div class="column">
       <div class="ui header center aligned">
         <h1>Welcome to RoboStore!</h1></div>
         <div class="ui header center aligned">
      <h3>For everything robot! </h3></div>
    </div>
  </div>
  <br />
</div>
<div class="ui divider"></div>
<div class="ui grid">
    <% @items.each do |item| %>
      <div class="sixteen wide mobile eight wide tablet four wide computer column">
       <div class="ui card">
        <div class="image">
            <img src="https://robohash.org/<%= item.photo %>?set=4" />
          </div>
          <div class="content">
            <h1 class="header center aligned">
              <%= link_to item.name, item_path(item) %>
            </h1>
          </div>
            <p class="center aligned">$<%= item.price %></p>
          <div class='ui bottom attached button'>
             <i class="add icon"></i>
            <%= link_to 'View Item', item_path(item) %>
          </div>
         </div>
      </div>
    <% end %>
</div>


<div class="ui divider"></div>
<div class="ui equal width center aligned padded grid">
  <div class="row">
    <div class="black column"> </div>
    <div class="blue column"> </div>
  </div>
<br />
</div>
<<<<<<< HEAD
<div class="ui divider"></div>





=======
</div>
>>>>>>> final changes
